@using MVC.Models.ViewModels;
@{
    ViewData["Title"] = "Home Page";

    var product = ViewData["Product"] as ProductViewModel;
}

<div class="text-center">
    <h1 class="display-4">Welcome bugeto</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />
name is : @ViewData["SiteName"]
<br />
@product.Id
<br />
@product.Name
<br />
@product.Price
<hr />
@ViewBag.name


<hr />
@ViewBag.SiteName
<br />
@ViewData["name"]
