@model MVC.Models.Entities.Users
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    @Html.ActionLink("HomePage", "Index","Home")
    <br />
    @*@Html.TextBox("txtName","roya", new {  @class="form-control"})*@
    @Html.TextBoxFor(p=> p.Name,new { @class="form-control" })
    <br />
    @Html.TextBoxFor(p=> p.LastName,new { @class="form-control" })
    <br />
    @Html.TextBoxFor(p=> p.Email,new { @class="form-control" })
    <br />
    @Html.TextAreaFor(p=>p.Description)
    <br />
    @Html.CheckBoxFor(p=> p.IsActive)

    @Html.LabelFor(p => p.Email)
    <br />

    @Html.DisplayNameFor(p=>p.Name)
    :
    @Html.DisplayFor(p=> p.Name)

    <hr />
    <form asp-action="Profile" asp-controller="User" method="post">

        <label asp-for="Name"></label>:
        <input asp-for="Name" class="form-control" />
        <br />
        <textarea asp-for="Description"></textarea>
        <br />
        <a asp-action="Index" asp-controller="Home"> Home Page</a>

        <button> save </button>
    </form>

</body>
</html>
